@use "../sass-toolkit" as st;

@mixin default {
  font-family: "Poppins", serif;
  font-weight: 400;
}

@mixin note {
  font-size: st.px2rem(15);
  line-height: 1.7; // or st.px2rem(26)
}

@mixin input-field {
  font-size: st.px2rem(14);
  font-weight: 600;
  line-height: 1.85;
  letter-spacing: st.px2rem(0.25);
}

@mixin terms-and-services {
  font-size: st.px2rem(11);
  font-weight: 500;
  line-height: st.linear-func-clamp(21, 375, 26, 1440); // 21 26 
}

@mixin main-heading {
  font-size: st.linear-func-clamp(28, 375, 50, 1440); // 28; 50
  font-weight: 700;
  line-height: st.linear-func-clamp(36, 375, 55, 1440); // 36 ; 55
  letter-spacing: st.px2rem(-0.3);
}

@mixin description {
  font-size: st.px2rem(16);
  font-weight: 500;
  line-height: 1.625;
}