@use "../sass-toolkit" as st;
@use "fonts";
@forward "fonts" as font-*;

$colors: (
  "background-note": hsl(248, 33%, 49%),
  "background-btn" : hsl(154, 59%, 51%),
  "background-btn-hover": hsl(154, 65%, 68%),
  "background-card" : hsl(0, 0%, 100%),
  "border-input": hsl(0, 0%, 87%),
  "text-main": hsl(0, 0%, 100%),
  "text-input-placeholder": hsla(248, 9%, 26%, 0.75),
  "text-input": hsl(248, 9%, 26%),
  "text-accent": hsl(0, 100%, 74%),
  "text-terms": hsl(247, 25%, 77%),
);

@include st.reset-add;

:root {
  // Custom properties - colors
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  // shadows
  --box-shadow-note: 0 8px 0 0 hsla(0, 0%, 0%, 0.15);
  --box-shadow-btn: inset 0 -4px 0 0 hsla(0, 0%, 0%, 0.09);
  // font
  @include fonts.default;
}

body {
  // Appearance
  background-image: url("../assets/images/bg-intro-desktop.png");
  background-position-x: 14px;
  background-color: var(--color-text-accent);
  // Layout
  display: flex;
  align-items: center;
  padding: st.linear-func-clamp(77, 768, 88, 375) st.linear-func-clamp(24, 375, 48, 480);
  min-height: 100dvh;
  // Typography
  color: var(--color-text-main);
}

.text-bold {
  font-weight: 700;
}
.text-accent {
  color: var(--color-text-accent);
}

.container {
  margin-bottom: st.px2rem(64);
}

.title {
  // Layout
  margin-bottom: st.linear-func-clamp(24, 375, 32, 1440); //24 33
  // Typography
  @include fonts.main-heading;
  text-align: center;
}

.description {
  @include fonts.description;
  text-align: center;
}

.sign-up {
  width: 100%;
}