@use "../sass-toolkit" as st;
@use "../generic";

.card {
  // Appearance
  background-color: white; // use var 
  border-radius: st.px2rem(10);
  box-shadow: var(--box-shadow-note);
  // Layout
  padding: st.linear-func-clamp(24, 375, 40, 1440);

  &__terms-and-services {
    // Layout
    padding: 0 st.px2rem(15);
    margin-top: st.px2rem(8);
    // Typography
    @include generic.font-terms-and-services;
    text-align: center;
    color: var(--color-text-terms);
  }
}