@use "../sass-toolkit" as st;
@use "../generic";

.form {
  display: flex;
  flex-direction: column;
  gap: st.linear-func-clamp(16, 375, 20, 1440);

  .form-item {
    // Appearance
    border-radius: st.px2rem(5);
    border: st.px2rem(1) solid var(--color-border-input);
    // Layout
    padding: 1em st.linear-func-clamp(20, 375, 32, 1440);
    width: 100%;
    // Typography
    @include generic.font-input-field;
    color: var(--color-text-input);
    
    &::placeholder {
      color: var(--color-text-input-placeholder);
    }

    &:focus-visible {
      outline: st.px2rem(1) solid var(--color-background-note);
    }

  }
  .error {
    // Layout
    position: relative;

    .form-item {
      // Appearance
      outline: st.px2rem(2) solid var(--color-text-accent);
      // Typography
      color: var(--color-text-accent);
    }

    &::before {
      content: url("../assets/images/icon-error.svg");
      display: block;
      position: absolute;
      top: st.px2rem(16);
      right: st.px2rem(27);
    }
    
    &::after {
      content: "Field cannot be empty";
      display: block;
      padding-top: st.px2rem(4);
      width: 100%;
      // Typography
      @include generic.font-terms-and-services; //change font name to generic (now used in two elements)
      line-height: normal; // temp
      color: var(--color-text-accent);
      font-style: italic;
      text-align: right;
    }
  }
}